body{
font-family: "Chakra Petch", sans-serif;
}

.weather-app-wrapper{
    max-width: 600px;
        margin: 30px auto;
}

.weather-app{
     border: 2px solid rgb(107, 86, 89);
    border-radius: 8px;
    padding: 30px;
}
h1{
    color: rgb(96, 24, 163);
    font-weight: 100;
    font-size: 30px;
    line-height: 28px;
    margin-bottom: 0;
}

ul{
    margin: 0;
    padding: 0;
}

li{
   list-style: none;
   margin: 0;
   padding: 0;
   color:rgb(96, 24, 163);
   font-size: 16px;
   font-weight: 100;
   line-height: 19px;
}

li:first-letter {
    text-transform: capitalize;
}

.overview{
    margin-bottom: 20px;
}

.weather-temperature img{
    margin-right: 6px;
    height: 64px;
    width: 64px;
}
.weather-temperature strong{
    color:rgb(96, 24, 163) ;
    font-size: 64px;
    line-height: 1;
    font-weight: 400;
}

.weather-temperature .units{
    position: relative;
    font-size: 20px;
    top: -30px;
}

.weather-temperature .active{
        color: rgb(96, 24, 163);
        cursor: default;
}

.weather-temperature .active:hover {
    text-decoration: none;
}


.weather-forecast {
    margin-top: 20px;
    text-align: center ;
    color: rgb(96, 24, 163)
}

.weather-forecast-date {
    font-size: 18px;
    opacity: 0.6;
     
}

.weather-forecast-temperature{
    font-size: 13px;
}

.weather-forecast-temperature-min{
  opacity: 0.6;

}